<div class="container">
    <div class="row">

        <div class="col-8">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div *ngFor="let product of getProducts()" class="col">
                    <div class="card h-100">
                        <img src="{{product.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{product.nom}}</h5>
                            <p class="card-text">{{product.prixHT}}€</p>
                            <p class="card-text">Quantité: {{product.quantite}}</p>
                            <div class="grid gap-2 d-md-block">
                                <button (click)="subtractQuantite(product.id)" type="button" class="btn btn-labeled btn-danger">
                                    <span class="btn-label">
                                        <i class="fa-solid fa-minus" style="color: #ffffff;"></i>
                                    </span>
                                </button>
                                <button (click)="addQuantite(product.id)" type="button" class="btn btn-labeled btn-success">
                                    <span class="btn-label">
                                        <i class="fa-solid fa-plus" style="color: #fafafa;"></i>
                                    </span>
                                </button>
                            </div>
                            <button (click)="addPanier(product.id)" type="button" class="btn btn-primary">Ajouter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <table class="table table-striped table-bordered">

                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix</th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let addProduct of addProducts;let index = index;">
                        <th scope="row">{{index}}</th>
                        <td>{{addProduct[0]}}</td>
                        <td>{{addProduct[1]}}</td>
                        <td>{{addProduct[2]}}</td>
                        <td>
                            <button (click)="deleteProduct(index)" type="button" class="btn btn-labeled btn-danger">
                                <span class="btn-label">
                                    <i class="fa-solid fa-trash-can" style="color: #ffffff;"></i>
                                </span>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Quantité</th>
                                        <th scope="col">PrixHT</th>
                                        <th scope="col">PrixTTC</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{quantiteT}}</td>
                                        <td>{{prixHTTOTAL}}</td>
                                        <td>{{prixTTCTOTAL}}</td>
                                        <td>
                                            <button (click)="deletePanier()" type="button" class="btn btn-labeled btn-danger">
                                                <span class="btn-label">
                                                    <i class="fa-solid fa-trash-can" style="color: #ffffff;"></i>
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>